# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.env

# Models & Logs
models/
logs/
*.pt
*.zip

# Data
data/
replay_files/
replay_data/
replay_files/

# Config
benchmark_config.txt
bench_debug.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
